#fluid-bg {
	position: fixed;
	margin: 0;
	width: 100vw; height: 100vh;
	min-width: 100vw; min-height: 100vh;
  max-width: 100vw; max-height: 100vh;
	z-index: -1;
  left: 0;
	top: 0;
	display: block;
	pointer-events: none;
	}
section {
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
hr {
  border: none;
  border-top: 2.5px solid #525151;  /* Change color and thickness */
  margin: 1rem 0;            /* Space above and below each line */
  width: 85%;                  /* Adjust width as needed */
  margin-left: auto;
  margin-right: auto;           /* Center the lines */
}
.ip{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ip1{
  width: 55%;
}
.ph1{
  font-family: "Eagle Lake";
  justify-items: center;
  color: var(--black-color);

  align-items: center;font-size: 1.2rem;
  font-weight: 900;

}
.pp{
  color: var(--black-color);
  padding: 0 8rem;
  font-size: 1.11rem;
  font-family: var(--body-font2);


}
.psum{
  list-style: disc;
  line-height: 1.2;

}


